### **INDEX**
1. Setup Notebook
2. Following Along Exercise
3. Exercise Directions

 . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .

### **1 SETUP NOTEBOOK**

In [2]:
# import libraries
import pandas as pd
import numpy as np
import os
from pathlib import Path

In [4]:
# get the current working directory as a Path object
path = os.getcwd()

# update the path to parent folder
path = os.path.abspath(os.path.join(path, os.pardir))

In [35]:
# import products
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'))

In [36]:
# import orders
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'))

 . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .

### **2 FOLLOWING ALONG EXERCISE**

In [38]:
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [39]:
# new dataframe of missing values
df_nan = df_prods[df_prods['product_name'].isnull()==True]

In [40]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [41]:
df_prods.shape

(49693, 5)

In [42]:
# new dataframe cleaned
df_prods_clean = df_prods[df_prods['product_name'].isnull()==False]

In [43]:
df_prods_clean.shape

(49677, 5)

In [44]:
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [45]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [46]:
df_prods_clean.shape

(49677, 5)

In [47]:
# new dataframe full duplicates removed
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [48]:
df_prods_clean_no_dups.shape

(49672, 5)

In [49]:
# export clean dataframe
df_prods_clean_no_dups.to_csv(os.path.join(path, '02 Data','Prepared Data', 'products_checked.csv'))

 . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .

### **3. EXERCISE DIRECTIONS**

**DIR 2. DESCRIBE ORDERS**

In [52]:
df_ords.describe()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

> **Observations to further investigate**
> - orders_day_of_week MIN: Days of the week should be 1-7, investigate what 0 is
> - order_hour_of_day: look further into hour notation: is it 12h or 24h, why data type float? 
> - days_since_last_order MIN: What means 0? Is it 2 orders on the same day or is it an inaccuracy?

 . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .

**DIR 3. CHECK FOR MIXED TYPE COLUMNS**

In [55]:
for col in df_ords.columns.tolist():
    types_in_column = df_ords[col].apply(type)
    print(f"Name column: {col}, Type: {types_in_column.unique()}") 
    if len(types_in_column.unique()) > 1:
        display(HTML(f"<b>Column '{col}' contains mixed types</b>"))

Name column: Unnamed: 0, Type: [<class 'int'>]
Name column: order_id, Type: [<class 'int'>]
Name column: user_id, Type: [<class 'int'>]
Name column: order_number, Type: [<class 'int'>]
Name column: orders_day_of_week, Type: [<class 'int'>]
Name column: order_hour_of_day, Type: [<class 'int'>]
Name column: days_since_last_order, Type: [<class 'float'>]

> **No columns with mixed types have been found in orders**

 . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .

**DIR 5. CHECK FOR MISSING VALUES**

In [58]:
df_ords.shape

(3421083, 7)

In [59]:
df_ords.isnull().sum()

Unnamed: 0                    0
order_id                      0
user_id                       0
order_number                  0
orders_day_of_week            0
order_hour_of_day             0
days_since_last_order    206209
dtype: int64

> **days_since_last_order has 206.209 of a total 3.421.083 missing values. That's 6% of the dataset. I advise to investigate if these records could belong to first-time customers.**

 . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .

**DIR 6. ADDRESS THE MISSING VALUES USING AN APPROPRIATE METHOD**

In [107]:
# create flag
df_ords['First_order'] = df_ords['days_since_last_order'].isnull()

In [109]:
df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,First_order
0,0,2539329,1,1,2,8,NaN,True
1,1,2398795,1,2,3,7,15.0,False
2,2,473747,1,3,3,12,21.0,False
3,3,2254736,1,4,4,7,29.0,False
4,4,431534,1,5,4,15,28.0,False

 . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .

**DIR 7. CHECK FOR DUPLICATES**

In [117]:
df_ords_duplicates

Empty DataFrame
Columns: [Unnamed: 0, order_id, user_id, order_number, orders_day_of_week, order_hour_of_day, days_since_last_order]
Index: []

In [62]:
df_ords_duplicates = df_ords[df_ords.duplicated()]

> **The dataframe orders has no full duplicates.**

 . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .

**DIR 9. EXPORT ORDERS AND PRODUCTS**

In [66]:
# export orders
df_ords.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_checked.csv'))

In [67]:
# export products
df_prods_clean_no_dups.to_csv(os.path.join(path, '02 Data','Prepared Data', 'products_checked.csv'))