### INDEX
1. Setup Notebook
2. Exercise Directions - Part 2

### **1. SETUP NOTEBOOK**

In [33]:
# import libraries
import pandas as pd
import numpy as np
import os
from pathlib import Path

In [34]:
# get the current working directory as a Path object
path = os.getcwd()

# update the path to parent folder
path = os.path.abspath(os.path.join(path, os.pardir))

### **2. EXERCISE DIRECTIONS - PART 2**

In [36]:
# Dir3 Import order products combined pickle
df_orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [37]:
# Dir4 Check shape 
df_orders_products_combined.shape

(32434489, 12)

In [38]:
df_orders_products_combined.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'order_id', 'user_id', 'order_number',
       'orders_day_of_week', 'order_hour_of_day', 'days_since_last_order',
       'product_id', 'add_to_cart_order', 'reordered', '_merge'],
      dtype='object')

In [39]:
df_orders_products_combined.set_index('order_id', inplace=True)

In [40]:
# drop empty index colums and _merge column from orders_products_combined
df_orders_products_combined_drop = df_orders_products_combined.drop(columns = ['_merge', 'Unnamed: 0.1', 'Unnamed: 0'])

In [41]:
df_orders_products_combined_drop.head()

,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered
order_id,,,,,,,,
2539329,1,1,2,8,NaN,196,1,0
2539329,1,1,2,8,NaN,14084,2,0
2539329,1,1,2,8,NaN,12427,3,0
2539329,1,1,2,8,NaN,26088,4,0
2539329,1,1,2,8,NaN,26405,5,0

In [42]:
# Dir5 Combine the orders_products_combined dataframe with your products data set

In [43]:
#import products
df_products = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'))

In [44]:
# Check shape products
df_products.shape

(49672, 6)

In [45]:
df_products.columns

Index(['Unnamed: 0', 'product_id', 'product_name', 'aisle_id', 'department_id',
       'prices'],
      dtype='object')

In [46]:
df_products.set_index('product_id', inplace=True)

In [47]:
df_products_drop = df_products.drop(columns = ['Unnamed: 0'])

In [48]:
df_products_drop.head()

,product_name,aisle_id,department_id,prices
product_id,,,,
1,Chocolate Sandwich Cookies,61,19,5.8
2,All-Seasons Salt,104,13,9.3
3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
5,Green Chile Anytime Sauce,5,13,4.3

In [49]:
# Dir 6 merge and confirm with merge flag 
df_ords_prods_merge = df_orders_products_combined_drop.merge(df_products_drop, on='product_id', indicator=True)

In [50]:
# check shape
df_ords_prods_merge.shape

(32404859, 13)

In [51]:
df_ords_prods_merge.columns

Index(['user_id', 'order_number', 'orders_day_of_week', 'order_hour_of_day',
       'days_since_last_order', 'product_id', 'add_to_cart_order', 'reordered',
       'product_name', 'aisle_id', 'department_id', 'prices', '_merge'],
      dtype='object')

In [52]:
# add flag First order
df_ords_prods_merge['First_order'] = df_ords_prods_merge['days_since_last_order'].isnull()

In [53]:
# add flag after days_since_last_order
col_position = df_ords_prods_merge.columns.get_loc('days_since_last_order') + 1

In [54]:
first_order_col = df_ords_prods_merge.pop('First_order')

In [55]:
df_ords_prods_merge.insert(col_position, 'First_order', first_order_col)

In [56]:
# check df
df_ords_prods_merge.head()

,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,First_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both
1,1,1,2,8,NaN,True,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both
2,1,1,2,8,NaN,True,12427,3,0,Original Beef Jerky,23,19,4.4,both
3,1,1,2,8,NaN,True,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both
4,1,1,2,8,NaN,True,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both

In [57]:
# Dir7 export in a suitable way
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge.pkl'))