### **INDEX**
1. Setup Notebook
2. Data wrangling
3. Consistency checks
4. Data cleaning
5. Merging data
6. Additional data cleaning
7. Saving & Exporting

 . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .

### **1. SETUP NOTEBOOK**

In [6]:
# import libraries
import pandas as pd
import numpy as np
import os

In [7]:
# create path
path = r'/Users/noortjeoffreins/Documents/Professional/CareerFoundry/2. Data Immersion/2.4 Python Fundamentals for Data Analysts/Instacart Basket Analysis'

In [8]:
# import customers.csv
df_customers = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'customers.csv'))

 . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .

### **2. DATA WRANGLING**

In [10]:
# checking scope of df
df_customers.shape

(206209, 10)

In [11]:
# checking columns
df_customers.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [12]:
# rename columns 
df_customers.rename(columns = {'First Name':'first_name', 'Surnam':'last_name', 'Gender':'m/f', 'STATE':'state', 'Age' : 'age', 'fam_status':'maritial_status'}, inplace = True)

In [13]:
# confirm renamed columns
df_customers.head()

,user_id,first_name,last_name,m/f,state,age,date_joined,n_dependants,maritial_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [14]:
# check data types columns
df_customers.dtypes

user_id             int64
first_name         object
last_name          object
m/f                object
state              object
age                 int64
date_joined        object
n_dependants        int64
maritial_status    object
income              int64
dtype: object

In [15]:
# change data type date_joined
df_customers['date_joined'] = df_customers['date_joined'].astype('datetime64[ns]')

In [16]:
# confirm adjusted data types
df_customers.dtypes

user_id                     int64
first_name                 object
last_name                  object
m/f                        object
state                      object
age                         int64
date_joined        datetime64[ns]
n_dependants                int64
maritial_status            object
income                      int64
dtype: object

 . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .

### **3. CONSISTENCY CHECKS**

In [18]:
# check for missing values
df_customers.isnull().sum()

user_id                0
first_name         11259
last_name              0
m/f                    0
state                  0
age                    0
date_joined            0
n_dependants           0
maritial_status        0
income                 0
dtype: int64

In [19]:
# check for duplicates
df_customers.duplicated().sum()

0

In [20]:
# check for mixed data types
for col in df_customers.columns.tolist():
    types_in_column = df_customers [col].apply(type)
    print(f"Name column: {col}, Type: {types_in_column.unique()}") 
    if len(types_in_column.unique()) > 1:
        display(f"Column '{col}' contains mixed types")

Name column: user_id, Type: [<class 'int'>]
Name column: first_name, Type: [<class 'str'> <class 'float'>]

"Column 'first_name' contains mixed types"

Name column: last_name, Type: [<class 'str'>]
Name column: m/f, Type: [<class 'str'>]
Name column: state, Type: [<class 'str'>]
Name column: age, Type: [<class 'int'>]
Name column: date_joined, Type: [<class 'pandas._libs.tslibs.timestamps.Timestamp'>]
Name column: n_dependants, Type: [<class 'int'>]
Name column: maritial_status, Type: [<class 'str'>]
Name column: income, Type: [<class 'int'>]

 . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .

### **4. DATA CLEANING**

In [22]:
# dropping first_name and last_name for privacy / obsolescence
df_customers_dropped = df_customers.drop(columns=['first_name', 'last_name'])

In [23]:
# confirm new columns by number
df_customers_dropped.shape

(206209, 8)

In [24]:
# confirm new columns by name
df_customers_dropped.columns

Index(['user_id', 'm/f', 'state', 'age', 'date_joined', 'n_dependants',
       'maritial_status', 'income'],
      dtype='object')

 . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .

### **5. MERGING DATA**

In [26]:
# import orders & products to merge with 
df_ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge.pkl'))

In [27]:
# check columns and data type to find primary key to merge on 
df_ords_prods_merge.dtypes

user_id                     int64
order_number                int64
orders_day_of_week          int64
order_hour_of_day           int64
days_since_last_order     float64
First_order                  bool
product_id                  int64
add_to_cart_order           int64
reordered                   int64
product_name               object
aisle_id                    int64
department_id               int64
prices                    float64
_merge                   category
busy_days                  object
busiest_period_of_day      object
max_order                   int64
loyalty_flag               object
customer_type              object
average_spending          float64
spending_type              object
order_frequency           float64
Order regularity           object
customer type              object
dtype: object

In [28]:
# merging customers with orders & products on user_id
df_ords_prods_cust = df_customers_dropped.merge(df_ords_prods_merge, on = 'user_id')

In [29]:
#check df 
df_ords_prods_cust.head()

,user_id,m/f,state,age,date_joined,n_dependants,maritial_status,income,order_number,orders_day_of_week,...,busy_days,busiest_period_of_day,max_order,loyalty_flag,customer_type,average_spending,spending_type,order_frequency,Order regularity,customer type
0,26711,Female,Missouri,48,2017-01-01,3,married,165665,1,2,...,Regularly busy day,Fewest orders,8,New customer,New customer,7.988889,Low spender,19.0,NaN,Regular customer
1,26711,Female,Missouri,48,2017-01-01,3,married,165665,2,2,...,Regularly busy day,Fewest orders,8,New customer,Existing customer,7.988889,Low spender,19.0,NaN,Regular customer
2,26711,Female,Missouri,48,2017-01-01,3,married,165665,3,3,...,Least busy days,Fewest orders,8,New customer,Existing customer,7.988889,Low spender,19.0,NaN,Regular customer
3,26711,Female,Missouri,48,2017-01-01,3,married,165665,3,3,...,Least busy days,Fewest orders,8,New customer,Existing customer,7.988889,Low spender,19.0,NaN,Regular customer
4,26711,Female,Missouri,48,2017-01-01,3,married,165665,3,3,...,Least busy days,Fewest orders,8,New customer,Existing customer,7.988889,Low spender,19.0,NaN,Regular customer

In [30]:
df_ords_prods_cust.shape

(32404859, 31)

In [31]:
df_ords_prods_cust.columns

Index(['user_id', 'm/f', 'state', 'age', 'date_joined', 'n_dependants',
       'maritial_status', 'income', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_last_order', 'First_order',
       'product_id', 'add_to_cart_order', 'reordered', 'product_name',
       'aisle_id', 'department_id', 'prices', '_merge', 'busy_days',
       'busiest_period_of_day', 'max_order', 'loyalty_flag', 'customer_type',
       'average_spending', 'spending_type', 'order_frequency',
       'Order regularity', 'customer type'],
      dtype='object')

### **6. ADDITIONAL DATA CLEANING**

In [33]:
# rename columns 
df_ords_prods_cust.rename(columns = {'First_order':'first_order'}, inplace = True)

In [34]:
# drop duplicate columns
df_ords_prods_cust = df_ords_prods_cust.drop(columns=['customer_type'])

In [35]:
# drop obsolete columns
df_ords_prods_cust = df_ords_prods_cust.drop(columns=['_merge', 'Order regularity'])

In [36]:
# reformatting customer type 
df_ords_prods_cust.rename(columns = {'customer type':'customer_type'}, inplace = True)

In [37]:
#checking df
df_ords_prods_cust.columns

Index(['user_id', 'm/f', 'state', 'age', 'date_joined', 'n_dependants',
       'maritial_status', 'income', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_last_order', 'first_order',
       'product_id', 'add_to_cart_order', 'reordered', 'product_name',
       'aisle_id', 'department_id', 'prices', 'busy_days',
       'busiest_period_of_day', 'max_order', 'loyalty_flag',
       'average_spending', 'spending_type', 'order_frequency',
       'customer_type'],
      dtype='object')

### **7. SAVING & EXPORTING**

In [39]:
#exporting df as pickle
df_ords_prods_cust.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_cust.pkl'))